.status-bar__column{
    width: 33%;
}
.status-bar{/* 클래스는 . id는 #*/
    display: flex;  /*아이콘들 옆으로 오게 하는거*/
    /*justify-content: space-between; 아이콘들 사이를 띄우는 거*/
    justify-content: center;
    padding: 5px 3px;
}
.status-bar__column:first-child span{
    margin-right: 5px; /*와이파이 아이콘을 no service span에서 5px 띄움*/
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child{
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-full{
    margin: 0px 5px;
}
